[Desktop Entry]
Name=Video Converter
Exec=/home/fabiolbr/coding/bash/video-converter/video-converter
Icon=avidemux
Terminal=true
Type=Application
Name[en]=Video Converter
