[Desktop Entry]
Name=Link Zenity
Exec=blender-link
Icon=blender
Terminal=true
Type=Application
Name[en]=Blender Link Zenity
Name[en_US]=Blender Link Zenity
